<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book</title>
</head>
<body>
    <h1>Book</h1>
    <div id="app">
        <input type="text" v-model="message">
        {{message}}
    </div>
    <h1>[[message]]</h1>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/index.js"></script>

    <script src="https://cdn.staticfile.org/systemjs/6.10.3/system.min.js"></script>
    <script type="module">
        import('/js/data.js').then(res => {
            console.log('res', res);
        })
    </script>
    <script nomodule>
        System.import('/js/data_bundle.js').then(res => {
            console.log('res2', res);
        })
    </script>
</body>
</html>